a {
    display: block;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 22%;
    margin: 5%;
    border-radius: 10%;
    background-color: #ffffff;
    align-items: center;
    color: #006cfad3;
    text-decoration: none;
  }
  a:hover{
    background-color: transparent;
    border: 20% solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }