a {
    display: block;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 22%;
    margin: 5%;
    border-radius: 10%;
    background-color: #deb887;
    align-items: center;
    color: #000000d3;
    text-decoration: none;
  }
  a:hover{
    background-color: transparent;
    border: 20% solid burlywood;
    color: burlywood;
  }