section{
  display: flex;
  width: 80%;
  height: 80%;
}
section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
section img:hover{
  cursor: crosshair;
  width: 70%;
  opacity: 10;
  filter: contrast(110%);
}